# Dependencies
node_modules/
package-lock.json

# Build output
out/
*.rbxl
*.rbxlx

# roblox-ts
include/

# Editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
